---
layout: archive
permalink: /vietnamese/
title: <h1> Air Pollution in Vietnam - Ô nhiễm không khí ở Việt Nam </h1> <h4> (in Vietnamese) </h4>
author_profile: true
---

<h3> Bài đã đăng trên báo </h3>
1. <p> Tia Sáng: Ô nhiễm không khí: Cần một đề tài mang tính liên hợp. </p>
2. <p> Môi trường: Từ nghiên cứu tới chính sách về vấn đề ô nhiễm không khí ở Hà Nội. </p>
3. <p> Môi trường: Phơi nhiễm ô nhiễm không khí trong nhà thời đại dịch coronavirus (COVID-19). </p>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.onkk reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year and post.visible != 'false' %}
    <h3 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h3>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}


